@page
@model IndexModel
@{
    ViewData["Title"] = "Pocetna";
}

<div class="text-center">
    <h2 class="display-4">Dobro Dosoo!!</h2>
    <p><b>Probna web aplikacija za Hakaton 2022. godine.</b></p>
    <p>Milan menjao 22.03.2022. p i h tagove</p>
</div>
